@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body {
            background-image: url('https://img-cdn.inc.com/image/upload/w_1024,h_576,c_fill/images/panoramic/GettyImages-900301626_437925_t2i3bm.jpg');

        }

        footer {
            background-color:white;
        }
    </style>
</head>

<body >
    <div style="background-color:white; padding:6%; border-radius:20%" class="text-center">
        <h1 class="display-4">Welcome to MyLibrary!</h1>
        <h6>THE INTERNAL BOOK INVENTORY IN YOUR LIBRARY</h6>
        <br>
        <p>In the "MyLibrary" tab you can add, remove and modify books. <br>There you will also find information on who is currently reading the book, when they should return it and how to contact them if they do not return it.</p>
    </div>
</body>

