@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h5>
    Effective Date: 20.05.2024
</h5>

<p>
    Welcome to <b>MyLibrary</b>. We are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website.
</p>
<h6>
    1. Information We Collect
</h6>

We may collect information about you in a variety of ways, including:<br />

Personal Data: Personally identifiable information, such as your name, email address, mailing address, phone number, and demographic information that you voluntarily give to us when you register on the website, request information, or use our services.
<br />Usage Data: Information our servers automatically collect when you access the website, such as your IP address, browser type, operating system, access times, and the pages you have viewed directly before and after accessing the website.
<br />Cookies and Tracking Technologies: We may use cookies, web beacons, tracking pixels, and other tracking technologies to collect and use information about your interaction with the website.
<br />
<br />
<h6>
    2. Use of Your Information
</h6>
We use the information we collect in the following ways:

<ul>
    <li>To provide, operate, and maintain our website and services</li>
    <li>To improve, personalize, and expand our website and services</li>
    <li>To understand and analyze how you use our website</li>
    <li>To develop new products, services, features, and functionality</li>
    <li>To communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li
    <li>To process your transactions and manage your orders</li>
    <li>To send you emails</li>
    <li>To find and prevent fraud</li>
</ul>

<h6>3. Sharing of Your Information</h6>
We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.
<br /><br />
<h6>4. Security of Your Information</h6>
We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse.
<br /><br />
<h6>5. Third-Party Websites</h6>
Our website may contain links to third-party websites and services that are not operated by us. If you click on a third-party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
<br /><br />
<h6>6. Children's Privacy</h6>
Our website does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us. If we discover that a child under 13 has provided us with personal information, we will delete such information from our servers immediately.
<br /><br />
<h6>7. Changes to This Privacy Policy</h6>
We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
<br /><br />
<h6>8. Contact Us</h6>
If you have any questions about this Privacy Policy, please contact us:

<br />By email: helpdesk@mylibrary.com
<br />By phone number: +48 123 456 789
<br /><br />
Thank you for visiting <b>MyLibrary</b>.
